.DS_Store
.ipynb_checkpoints/*
.snakemake/*
.vscode/*
README_NAS.md
Snakefile_for_chrX
Snakefile_org_MM2_params
Snakefile_without_docker
assemblies/
assemblies/*
rsync_commands4transfer2NAS.rtf
benchmarking_HG002r253ab/*
output/*
resources/*
samples.tsv
scratch/*
T2T.ipynb
T2T_workflow.itmz
